@import "app.scss";
@import "style.scss";

.theme--light.application{
  background: white;
}
.material-icons{
  color: $primary-color !important;
}
.loading-div{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left:0px;
  z-index: 9999;
}