body{
  margin: 0px;
}
.m-0{
  margin: 0px;
}
.mb-0{
  margin-bottom: 0px !important;
}
.mb-1{
  margin-bottom: 10px !important;
}
.mb-2{
  margin-bottom: 20px !important;
}
.mb-3{
  margin-bottom: 30px !important;
}
.mt-5{
  margin-top: 50px !important;
}
.my-3{
  margin: 30px 0px 30px 0px;
}
.p-0{
  padding: 0px !important;
}
.w-100{
  width: 100px;
}

.px-0{
  padding-left: 0px;
  padding-right: 0px;
}
.p-10{
  padding: 10px !important;
}
.font-18{
  font-size: 18px !important;
}
.font-22{
  font-size: 22px !important;
}
.white-text input{
  color: #FFFFFF !important;
}
.bold{
  font-weight: bold !important;
}
.border-red{
  border: red solid 2px;
}
i{
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
.menu-tab i{
  background-color: #004d40;
}
.inline{
  display: inline;
}
#logo{
  width: 100px;
  height: 100px;
  margin-left: 40px;
}
.menu-tab{
  margin-right: 40px;
}
.hidden{
  display: none;
}
@media only screen and (max-width : 650px) {
  .container{
    width: 100% !important;
    padding: 0px;
  }
  #logo{
    width: auto !important;
    height: 56px !important;
    margin-left: 0px !important;
  }
  nav .brand-logo{
    left: 25% !important;
  }
}
.heading-container{
  position: absolute;
  line-height: 10px;
  margin-right: 40px;
  left: 50%;
  margin-left: -110px;
}
.heading-container-small{
  position: absolute;
  line-height: 10px;
  margin-left: -17px;
}
.heading-title{
  margin-top: 5px;
  font-weight: bold;
}
.heading-title-small{
  margin-top: 5px;
  font-weight: bold;
  font-size: 24px;
}
.heading-subtitle{
  font-size: 14px;
  float: right;
  position: absolute;
  right: 0px;
  margin-right: -29px;
  font-style: italic;
}
