{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/reservation') }}
{% endblock %}
{% block title %}{% endblock %}


{% block body %}
    <div id="reservation" class="section  no-pad-bot">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <form>
                                <div class="col s12 m6 offset-m3">
                                    <div class="section">
                                        <h6>Informations personnelles</h6>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                {#<i class="material-icons prefix">email</i>#}
                                                <input type="email" name="email" class="validate"
                                                       v-model="reservation.email" v-validate="'required|email'">
                                                <label for="email">Votre email</label>
                                                <span class="red-text">${ errors.first('email') }</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                {#<i class="material-icons prefix">smartphone</i>#}
                                                <input name="phone" type="text" class="validate"
                                                       v-model="reservation.phone" v-validate="'required'">
                                                <label for="sujet">Téléphone</label>
                                                <span class="red-text">${ errors.first('phone') }</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                {#<i class="material-icons prefix">person</i>#}
                                                <input name="name" type="text" class="validate"
                                                       v-model="reservation.name" v-validate="'required'">
                                                <label for="name">Nom Complet</label>
                                                <span class="red-text">${ errors.first('name') }</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="section">
                                        <h6>Véhicule</h6>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">directions_car</i>
                                                <input type="text" name="mark" class="validate" v-model="car.mark"
                                                       v-validate="'required'">
                                                <label for="mark">Marque du véhicule</label>
                                                <span class="red-text">${ errors.first('mark') }</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">more</i>
                                                <input name="plate" type="text" class="validate" v-model="car.plate"
                                                       v-validate="'required'">
                                                <label for="plate">Numéro de plaques</label>
                                                <span class="red-text">${ errors.first('plate') }</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">color_lens</i>
                                                <input name="color" type="text" class="validate" v-model="car.color"
                                                       v-validate="'required'">
                                                <label for="color">Couleur</label>
                                                <span class="red-text">${ errors.first('color') }</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="section">
                                        <h6>Départ</h6>
                                        <div class="row">
                                            <div class="input-field col s12 m7">
                                                <i class="material-icons prefix small">event</i>
                                                <input type="text" name="dateInCar" class="datepicker dateInCar"
                                                       placeholder="Prise en charge du véhicule"
                                                       v-model="reservation.dateInCar" v-validate="'required'">
                                                <span class="red-text">${ errors.first('dateInCar') }</span>
                                            </div>
                                            <div class="input-field col s12 m5">
                                                <i class="material-icons prefix small">event</i>
                                                <input type="text" name="hourInCar" class="timepicker hourInCar"
                                                       placeholder="Las heure" v-model="hourInCar"
                                                       v-validate="'required'">
                                                <span class="red-text">${ errors.first('hourInCar') }</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="section">
                                        <h6>Arrivée</h6>
                                        <div class="row">
                                            <div class="input-field col s12 m7">
                                                <i class="material-icons prefix small">event</i>
                                                <input type="text" name="dateOutCar" class="datepicker dateOutCar"
                                                       placeholder="Restitution du véhicule"
                                                       v-model="reservation.dateOutCar" v-validate="'required'">
                                                <span class="red-text">${ errors.first('dateOutCar') }</span>
                                            </div>
                                            <div class="input-field col s12 m5">
                                                <i class="material-icons prefix small">event</i>
                                                <input type="text" name="hourOutCar" class="timepicker hourOutCar"
                                                       placeholder="Las heure" v-model="hourOutCar"
                                                       v-validate="'required'">
                                                <span class="red-text">${ errors.first('hourOutCar') }</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">more</i>
                                                <input name="fly" type="text" class="validate" v-model="reservation.fly"
                                                       v-validate="'required'">
                                                <label for="plate">Numéro de vol</label>
                                                <span class="red-text">${ errors.first('fly') }</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">local_airport</i>
                                                <select name="company" class="companies" v-model="reservation.company"
                                                        v-validate="'required'">
                                                    <option v-for="airport in airports" v-bind:value="airport.id">${airport.name}</option>
                                                </select>
                                                <label>Compagnie aérienne</label>
                                                <span class="red-text">${ errors.first('company') }</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m10 offset-m1">
                                    <div class="divider"></div>
                                    <div class="section" v-if="services1.length || services2.length">
                                        <h6>Services supplémentaires</h6>
                                        <div v-if="services1.length">
                                            <div class="row cars">
                                                <div class="col s12 m6"></div>
                                                <div class="col s4 m2">
                                                    <i class="small material-icons small_car">local_car_wash</i>
                                                </div>
                                                <div class="col s4 m2">
                                                    <i class="small material-icons middle_car" color="teal">local_car_wash</i>
                                                </div>
                                                <div class="col s4 m2">
                                                    <i class="small material-icons big_car"
                                                       color="teal">local_car_wash</i>
                                                </div>
                                            </div>
                                            <div class="row" v-for="service,index in services1">
                                                <div class="input-field col s12 m6 service-name">${service.name}</div>
                                                <div class="input-field col s4 m2 radio-service">
                                                    <label>
                                                        <input v-bind:name="service.id"
                                                               v-bind:value="service.prices[0].price" type="radio"
                                                               v-model="serviceRadio[index]" @click="test(service.id)"/>
                                                        <span>${service.prices[0].price} CHF</span>
                                                    </label>
                                                </div>
                                                <div class="input-field col s4 m2 radio-service">
                                                    <label>
                                                        <input v-bind:name="service.id"
                                                               v-bind:value="service.prices[1].price" type="radio"
                                                               v-model="serviceRadio[index]" @click="test(service.id)"/>
                                                        <span>${service.prices[1].price} CHF</span>
                                                    </label>
                                                </div>
                                                <div class="input-field col s4 m2 radio-service">
                                                    <label>
                                                        <input v-bind:name="service.id"
                                                               v-bind:value="service.prices[2].price" type="radio"
                                                               v-model="serviceRadio[index]" @click="test(service.id)"/>
                                                        <span>${service.prices[2].price} CHF</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin-top: 75px" v-if="services2.length">
                                            <div class="row mb-0" v-for="service in services2">
                                                <div class="input-field col s6">${service.name}</div>
                                                <div class="input-field col s4 m2 radio-service">
                                                    <label>
                                                        <input name="group1" type="radio"/>
                                                        <span>${service.prices[0].price} CHF</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m6 offset-m3 mt-5">
                                    <div class="divider"></div>
                                    <div class="section">
                                        <h6>Mode de paiement</h6>
                                        <div class="row">
                                            <div class="input-field col s12 radio-service">
                                                <div class="inline">
                                                    <label>
                                                        <input name="cash" value="cash" type="radio" v-model="reservation.payment"/>
                                                        <span>Cash</span>
                                                    </label>
                                                </div>
                                                <div class="inline">
                                                    <label>
                                                        <input name="cash" value="visa" type="radio" v-model="reservation.payment"/>
                                                        <span>Visa</span>
                                                    </label>
                                                </div>
                                                <div class="inline">
                                                    <label>
                                                        <input name="cash" value="master" type="radio" v-model="reservation.payment"/>
                                                        <span>MasterCard</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">message</i>
                                            <textarea class="materialize-textarea" v-model="reservation.message"
                                                      v-validate="'required'" name="message"></textarea>
                                            <label for="Message">Remarques</label>
                                            <span class="red-text">${ errors.first('message') }</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <a class="teal btn-small btn-card waves-effect waves-light right" @click="send">envoyer
                                            <i class="material-icons right" style="color: white">send</i>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/reservation') }}
{% endblock %}
